@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
  height: calc(100vh - 77px);
}

.fc .fc-toolbar.fc-header-toolbar {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
  border-left: 1px solid #d4d4d8;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.fc-scrollgrid-section:nth-child(2) {
  display: none;
}

.fc-col-header {
  text-transform: capitalize;
}

.fc .fc-button-primary {
  background: none !important;
  border: none !important;
  color: #71717a !important;
  box-shadow: none !important;
}

.fc-prev-button:not(:disabled):hover,
.fc-next-button:not(:disabled):hover {
  color: #0176de !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(229, 229, 229, 0.4);
}

.fc .fc-timegrid-col.fc-day-today {
  background-color: rgba(229, 229, 229, 0.4);
}

.sidebar {
  left: -100vw;
  transition: left 0.3s linear;
}

.sidebar.show {
  left: 0;
  border-right: 1px solid #d4d4d8;
}

@media screen and (min-width: 1024px) {
  .fc {
    height: 100vh;
  }
}
